.connection-details__item {
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #eee;
    padding: 20px 50px 20px 20px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.box:before, .row:before, .box:after, .row:after {
    content: '';
    display: block;
    clear: both;
}

.col-2 {
    width: 16.66667%;
}
[class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    margin: 5px;
}

.col-10 {
    width: 83.33333%;
}

.btn--color-second.btn--outline {
    color: #007bc7;
    border-color: #007bc7;
    background-color: transparent;
    border: 1px solid;
}


.connection-details a {
    text-decoration: none;
}

.btn--color-second {
    background-color: #007bc7;
    color: #fff;
}

.btn {
    display: inline-block;
}

.btn--outline {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.btn--color-second {
    background-color: #007bc7;
    color: #fff;
}
.btn--color-first, .btn {
    background-color: #004d84;
    color: #fff;
}
.btn {
    line-height: 1;
    border-radius: 2px;
    display: inline-block;
    -webkit-display: inline-flex;
    -webkit-align-items: center;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    font-size: 1.4rem;
    padding: 1rem 2rem;
}
.btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fcfcfc;
    text-decoration: none;
}
a {
    background: transparent;
}

a.btn.btn--outline.btn--color-second.loadScr.txlc {
    font-size: 0.9em;
}

.btn:hover {
    text-decoration: none !important;
}
.btn--color-second:hover {
    background-color: #007bc7;
    color: #fff;
}


.connection-details .item-label {
    margin-top: 5px;
}

.item-label {
    font-size: 0.9rem;
    color: #6b6b6b;
    display: block;
    line-height: 1;
    margin-bottom: 5px;
    width: 100%;
    align-self: center;
}
.txlc {
    text-transform: lowercase;
}

.main-details {
    margin-top: 35px;
    position: relative;
    z-index: 10;
    background-color: #f2f2f2;
}